.field {
  display: grid;
  gap: var(--lufa-component-form-field-gap);
}

.description,
.error {
  margin: 0;
  font-size: var(--lufa-component-form-field-feedback-font-size);
  line-height: var(--lufa-component-form-field-feedback-line-height);
}

.description {
  color: var(--lufa-semantic-ui-text-secondary);
}

.error {
  font-weight: var(--lufa-component-form-field-error-font-weight);
  color: var(--lufa-semantic-ui-text-error);
}
